.lawyers-list {
	> ul {
		list-style-type: none;
		padding: 0;
		display: flex; 
		flex-wrap: wrap;
		justify-content: space-between;
		li {

		}
	}
}


.lawyer {
	background: #fff;
	width: 100%;


	&__header {
		overflow: hidden;
		padding: 20px;
	}
	&__links {
		padding: 20px;
	}

	&__avatar {
		max-width: 100px;
		float: left;
	}
	&__experience {
		padding: 20px;
		ul {
			display: flex;
			list-style-type: none;
			padding: 0;
			li {
				margin-right: 20px;
			}
		}
		img {
			max-width: 100%;
		}
	}
}

@media (min-width:30em) {
	.lawyer {
		margin-bottom: 2%;
		width: 49%;
	}
}