<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Spoke Code Test</title>

    <link rel="stylesheet" href="https://cloud.typography.com/7482474/617128/css/fonts.css">

    <!-- Comiled SASS stylesheets -->
    <link href="css/all.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="spokeApp">

    <div class="lawyers-list" ng-controller="people as peopleCtrl">
      <h1>Spoke Lawyers List</h1>

      <ul>
        <li ng-repeat="lawyer in peopleCtrl.people" class="lawyer">

          <div class="lawyer__header">
            <img class="lawyer__avatar" ng-if="lawyer.avatar" ng-src="./assets/{{lawyer.avatar}}" alt="" />
            <h2>{{lawyer.initial}}</h2>
            <p class="lawyer__info">
              <img src="assets/images/briefcase.svg" /> {{lawyer.lawyer_type}} 
              <img src="assets/images/certificate.svg" /> {{lawyer.pqe}} 
              <img src="assets/images/location.svg" /> {{lawyer.location}} 
            </p>
          </div>

          <div class="lawyer__links">
            <a href="#" class="btn btn--primary">Shortlist for info &amp; availability</a>
            <a href="#" class="btn btn__icon btn__icon--heart">Save for later</a>
          </div>

          <div class="lawyer__experience">
            <ul>
              <li ng-repeat="item in lawyer.work_histories">
                <img ng-src="{{item.logo}}" alt="{{item.name}}" />
              </li>
            </ul>


            <p class="intro" ng-hide="fulldesc">{{lawyer.description | limitTo: 200}} <span ng-if="longdesc"><a href="" class="read-more" ng-click="fulldesc = true;"><strong>read more</strong></a></span></p>
            <p ng-show="fulldesc">{{lawyer.description}}</p>

          </div>

        </li>
      </ul>

      <div class="load-more">
        <a href="" ng-click="peopleCtrl.loadMore(peopleCtrl.people, peopleCtrl.peoplePage2);">Load More</a>
      </div>
    </div><!-- // controller people -->

    <!-- jQuery -->
    <script src="js/libs/jQuery/dist/jquery.min.js"></script>
    <!-- Angular -->
    <script src="js/libs/angular/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/main.js"></script>
  </body>

</html>
